.header {
  padding: 15px 30px;
  background-color: #161C22;
  display: flex;
  align-items: center;
}
.brand {
  height: 40px;
}

.headerInput {
  width: 250px;
  border: 1px #686868 solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0D1118;
  color: white;
  margin: 0px 20px;
  outline: none;
  font-size: 1.1em;
}

.headerInput::placeholder {
  color: rgb(194, 194, 194);
}

.searchButton {
  background-color: #0D1118;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: 1px #686868 solid;
  cursor: pointer;
}

.searchButton:hover {
  background-color: rgb(34, 34, 34);
}

.headerResults {
  color: #8d8d8d;
  margin-left: 15px;
}