.header {
  padding: 15px 30px;
  background-color: #161C22;
  display: flex;
  align-items: center;
}

.brand {
  height: 40px;
}

.headerInput {
  width: 250px;
  border: 1px #686868 solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0D1118;
  color: white;
  margin: 0px 20px;
  outline: none;
  font-size: 1.1em;
}

.headerInput::placeholder {
  color: rgb(194, 194, 194);
}

.searchButton {
  background-color: #0D1118;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: 1px #686868 solid;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.searchButton:hover {
  background-color: rgb(34, 34, 34);
}

.headerResults {
  color: #8d8d8d;
  margin-left: 15px;
}

@media only screen and (max-width: 576px) {
  .header {
    padding: 10px 15px;
  }

  .brand {
    height: 30px;
  }

  .headerInput {
    width: 50%;
    margin: 0px 10px;
    font-size: 0.9em;
  }

  .searchButton {
    display: none;
  }

  .headerResults {
    margin-left: 0px;
    font-size: 0.9em;
    width: 50px;
    text-align: center;
  }
}