.userContainer {
  border-bottom: 1px #686868 solid; 
  color: white;
  padding: 15px 0px;
  display: flex;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.userContainer:hover {
  border-bottom: 1px white solid; 
}

.userImg {
  height: 80px;
  border-radius: 50px;
}

.userInfoView {
  margin-left: 20px;
}

.userName {
  height: 80px;
  display: flex;
  align-items: center;
  line-height: 30px;
}

@media only screen and (max-width: 576px) {
  .userImg {
    height: 60px;
  }
  
  .userName {
    height: 60px;
    max-width: 500px;
  }
}